<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
<link rel="icon" href="image/logo.icon">
    <link rel="stylesheet" href="css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Lobster&family=Piedra&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Chilanka&family=Courgette&family=Lobster&family=Piedra&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/vendors/owl.carousel.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Headrer -->
    <section class="header">
        <section class="nav">
            <div>
                <a class="logo " href="/"> <img class="notOpen" src="image/logo.jpeg" alt=""></a>
                <i class="fa-solid fa-bars menu"></i>

                <ul class="mainUlNav">
                    <li><a href="/">Home</a>
                        <div class="br"></div>
                    </li>
                    <li><button id="btnOfDropDownServices" href="">Services <i class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_services">
                            <ul class="ulDrop">
                                <li><a href="/services_hotels">Hotels</a></li>
                                <li><a href="/services_villas">Chalets - Villas</a></li>
                                <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>
                    <li><button id="btnOfDropDownActivities" href="">Activities <i
                                class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_activities">
                            <ul class="ulDrop">
                                <li><a href="/activities_trips">Trips</a> </li>
                                <li><a href="/activities_pottery">Pottery</a> </li>
                                <li><a href="/activities_camps">Camps - Safari</a></li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>

                    <li class="active"><a href="/about">About </a>
                        <div class="br"></div>
                    </li>
                    <li><a href="/contact-us">Contact us</a>

                    </li>
                </ul>
            </div>
        </section>
        <!-- end nav -->
        <div class="content">
            <h1 class="b">About</h1>
            <h1 class="c">Tunis Village </h1>

        </div>
        <a href="/connect"><button class="btn">Connect us</button></a>
    </section>
    <!-- end header  -->

    <!-- start about -->
    <section class="aboutSection margin">
        <h1>
            <p style="font-weight: bold;font-family: 'Righteous', cursive;text-decoration: underline; font-size: 22px;">
                What can you see and do in Tunis?</p><br><br>
            <p>

                When you stop in the village of Tunis for a picnic, you will find the peaceful green garden of the
                famous children's pottery school. It is a great chance to see the young artists making their wares and
                purchase examples of their craft. In addition to the pretty nature of the village, there are means of
                entertainment and amenities; you will find an internet <a href="/services_cafes">cafes</a>. Many
                activities are available; bird watching, tracking and camel and horse safaris to the nearby national
                parks of Wadi El-Rayan, Wadi El-Hitan, Lake Qaroun and the adjoining fields.This village includes no
                less than 13 <a href="/services_hotels">Hotels</a> and 45 workshops teaching handicrafts. In
                addition,Tunis village is close to several <a href="#touristAttractions">other tourist attractions</a>, such as: Wadi
                Al-Rayyan Reserve, Wadi Al-Hitan, Lake Qarun, Qasr Qarouna wonderful Ptolemic temple located in the
                south-western part of Fayoum.</p>
        </h1>
        <div class="aboutVideo">
            <video src="video/1.mp4" controls></video>
        </div>

    </section> <!-- end about section  -->

    <!-- start map -->
    <section class="maps margin">
        <h2 class="themap">The Location </h2>
        <div class="map">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3475.8820993245495!2d30.492705500000003!3d29.4030049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14595dcf26d3dc8f%3A0x987742ebda4028df!2z2YLYsdmK2Kkg2KrZiNmG2LMgLSDZhdit2KfZgdi42Kkg2KfZhNmB2YrZiNmF!5e0!3m2!1sar!2seg!4v1712303103170!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <section class="p">
                <p class="p1">The village Tunis is located in Egypt and is one of the villages of Youssef Al-Siddiq
                    Centre
                    in Fayoum
                    governorate.</p>

                <p class="p2">The village of Tunisia is beautiful in nature, situated on top of the land. Underneath it
                    are
                    beautiful green farmland, then Lake Qarun, and north of the lake are mountain ranges.</p>

                <a href="/connect"><button class="btn">Connect us</button></a>
            </section>
        </div>



    </section> <!-- end map  -->

    <!-- start tourist attractions -->

    <section class="touristAttractions" id="touristAttractions">
        <h1>Some tourist attractions in Tunis village</h1>
        <!-- start Qarun Lake  -->
        <div class="onePlace ">
            <h2><i class="fa-solid fa-caret-right"></i> 1) Qarun Lake</h2>
            <div class="infoPalce">
                <section class="h1">
                    <h1>
                        It is one of the oldest Egyptian lakes to draw water from the flood of the Nile River, and is
                        now a kiss for many visitors under the slogan "One Day Summer."
                    </h1>
                    <h1>Lake Karoun has many features that make it one of the most important tourist attractions in
                        Fayoum and even the most beautiful tourist areas in Egypt, above all the surrounding beaches,
                        river tours that take place, along with monuments close to it such as Dimiya Al-Sabaa village
                        with Ptomiya monuments.</h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/lack/1.jpeg" alt="">
                    <img src="image/about/places/lack/2.jpeg" alt="">
                    <img src="image/about/places/lack/3.jpg" alt="">
                    <img src="image/about/places/lack/5.jpeg" alt="">
                    <img src="image/about/places/lack/4.jpeg" alt="">
                </section>
            </div>
        </div>
        <!-- end Qarun Lake  -->

        <!-- start Qasr Qarun   -->
        <div class="onePlace">
            <h2><i class="fa-solid fa-caret-right"></i> 2) Qasr Qarun (Ptolemos Temple)</h2>
            <div class="infoPalce">
                <section class="h1">
                    <h1>
                        Qasr Qarun was not only popular with tourists and city dwellers, but some circulated many
                        sometimes fake facts about it to maximize its status.
                    </h1>
                    <h1>Qasr Karoun is one of the most important tourist attractions in Fayoum and one of the most
                        important tourist areas in Egypt that tourists look forward to visiting while on their way to
                        the lake.</h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/Qasr/1.jpeg" alt="">
                    <img src="image/about/places/Qasr/2.jpeg" alt="">
                    <img src="image/about/places/Qasr/3.jpeg" alt="">
                </section>
            </div>
        </div>
        <!-- end Qasr Qarun   -->
        <!-- start Madi archaeological village   -->
        <div class="onePlace">
            <h2><i class="fa-solid fa-caret-right"></i> 3) Madi Archaeological Village</h2>
            <div class="infoPalce">
                <section class="h1">
                    <h1>
                        Madi Archaeological Village is similar to the Rams Road in Luxor in the ubiquity of black
                        statues, but Madi is not only a passage, but a huge temple adjacent to a royal garden that can
                        wander between them and discover many ancient artefacts, with the help of many tour guides
                        there.
                    </h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/Madi village/1.jpeg" alt="">
                    <img src="image/about/places/Madi village/2.jpeg" alt="">
                    <img src="image/about/places/Madi village/3.jpeg" alt="">
                </section>
            </div>
        </div>
        <!-- end Madi archaeological village   -->
        <!-- start Wadi Al-Hitan Reserve  -->
        <div class="onePlace">
            <h2><i class="fa-solid fa-caret-right"></i> 4) Wadi Al-Hitan Reserve</h2>
            <div class="infoPalce">
                <section class="h1">
                    <h1>
                        Do you like Scout trips? The idea of going to an open arena where you depend on your physical
                        skills, with your peers sharing that journey to roam around the place and discover some
                        connotations about it!
                    </h1>
                    <h1>
                        Here in the Valley of Whales with Vium you will be able to take an unparalleled scouting
                        adventure, where you will face the first facts about this place as one of the ancient ocean
                        bottoms, and a refuge for many rare wild animals, most notably "whales", whose excavations of
                        the Valley number more than 400 skeletons.
                    </h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/hitan/1.jpeg" alt="">
                    <img src="image/about/places/hitan/2.jpeg" alt="">
                    <img src="image/about/places/hitan/3.jpeg" alt="">
                    <img src="image/about/places/hitan/5.jpg" alt="">
                    <img src="image/about/places/hitan/6.jpg" alt="">
                    <img src="image/about/places/hitan/4.jpg" alt="">
                    <video src="video/2.mp4" controls></video>
                </section>
            </div>
        </div>
        <!-- end Wadi Al-Hitan Reserve  -->

        <!-- start Wadi El Rayan Reserve  -->
        <div class="onePlace">
            <h2><i class="fa-solid fa-caret-right"></i> 5) Wadi El Rayan Reserve</h2>
            <div class="infoPalce">
                <section class="h2">
                    <h1>
                        Wadi El Rayan has many natural manifestations unique to the city of Fayoum and among the most
                        important tourist areas in Egypt, such as: dunes, migratory birds, wild animals, and finally
                        aquatic eyes.

                        All are spectacular natural elements that the valley has been blessed to be one of the most
                        beautiful and important sights of Fayoum; One of the most important attractions there is:

                    </h1>
                    <h1>Al Modawara Mountain: It is a high rounded plateau, climbed by tourists to be able to ski from
                        the top of the mountain.</h1>
                    <h1>Magic Lake: Many are stunned when watching this lake, with tens of hundreds of colors changing
                        according to the brightness of sunlight.</h1>
                    <h1>Wadi Al-Rayyan Falls: the only one of its kind on the land of Egypt, connecting two large lakes
                        to the valley; Upper and lower lakes.</h1>
                    <h1>Wadi Al-Rayyan Reserve: The reserve has more than 15 species of rare wild animals, such as:
                        white deer and fox.</h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/rayan/1.jpg" alt="">
                    <img src="image/about/places/rayan/2.jpeg" alt="">
                    <img src="image/about/places/rayan/3.jpeg" alt="">
                    <img src="image/about/places/rayan/4.jpeg" alt="">
                    <img src="image/about/places/rayan/5.jpeg" alt="">
                    <img src="image/about/places/rayan/6.jpeg" alt="">
                    <img src="image/about/places/rayan/7.jpeg" alt="">
                    <img src="image/about/places/rayan/8.jpg" alt="">
                    <img src="image/about/places/rayan/9.jpeg" alt="">

                </section>
            </div>
        </div>
        <!-- end Wadi El Rayan Reserve  -->

        <!-- start Dimiya Al-Sabaa  -->
        <div class="onePlace">
            <h2><i class="fa-solid fa-caret-right"></i> 6) Dimiya Al-Sabaa</h2>
            <div class="infoPalce">
                <section class="h1">
                    <h1>
                        Dimiya Al-Sabaa is close to Lake Al-Qarun, which is the archaeological ruins of an ancient Roman
                        city that contains many stone statues, the most famous of which are the two “crouching lions”
                        statues made of sandstone.
                    </h1>

                    <h1>In addition, there is an ancient temple from the Greek era called the “Temple of the God
                        Scanopeus.” Visitors in this area can also practice the hobby of hu</h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/Dimiya Al-Sabaa/1.jpeg" alt="">
                    <img src="image/about/places/Dimiya Al-Sabaa/2.jpeg" alt="">
                    <img src="image/about/places/Dimiya Al-Sabaa/3.jpg" alt="">

                </section>
            </div>
        </div>
        <!-- end Dimiya Al-Sabaa  -->

        <!-- start Watermelon Valley  -->
        <div class="onePlace">
            <h2><i class="fa-solid fa-caret-right"></i> 7) Watermelon Valley 🍉🍉</h2>
            <div class="infoPalce">
                <section class="h1">
                    <h1>
                        Watermelon Valley is one of the distinctive natural areas in Fayoum Governorate, as it is
                        located in the Wadi El Rayan desert, north of Lake Qarun.
                    </h1>
                    <h1>The valley is characterized by the presence of many rocks that take the shape of watermelon
                        fruits, and have various sizes, some of which weigh from 20 to 100 kilograms, and they are
                        located next to each other in a wonderful artistic image.</h1>
                    <h1>The colors of the rocks in Wadi Watermelon vary, including pink, crimson, and brown, and tend in
                        shape to flint rocks. These rocks are very hard and do not affect them when it rains, no matter
                        how intense. Some alchemists even considered it among the priceless gemstones.</h1>
                </section>
                <section class="owl-carousel owl-carousel-camps imagePlace">
                    <img src="image/about/places/wadi el battikh/1.jpeg" alt="">
                    <img src="image/about/places/wadi el battikh/2.jpeg" alt="">
                    <img src="image/about/places/wadi el battikh/3.jpeg" alt="">
                    <img src="image/about/places/wadi el battikh/5.jpeg" alt="">
                    <img src="image/about/places/wadi el battikh/4.jpeg" alt="">
                </section>
            </div>
        </div>
        <!-- end Watermelon Valley  -->


    </section>

    <!-- end tourist attractions -->
    <section class="pageOfImage">
        <i class="fas fa-window-close close1"></i>
        <img class="notOpen" src="" alt="">
    </section>
    <div class="blockNavBar">
        <i class="fas fa-window-close close1 close2"></i>
        <ul class="mainUlNav">
            <li><a href="/">Home</a>
            </li>
            <li><button id="btnOfDropDownServicesMenu" href="">Services <i class="fas fa-caret-down"></i></button>
                <div class="drob_con" id="drob_con_services_menu">
                    <ul class="ulDrop">
                        <li><a href="/services_hotels">Hotels</a></li>
                        <li><a href="/services_villas">Chalets - Villas</a></li>
                        <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                    </ul>
                </div><!-- end drob con -->
            </li>
            <li><button id="btnOfDropDownActivitiesMenu" href="">Activities <i class="fas fa-caret-down"></i></button>
                <div class="drob_con" id="drob_con_activities_menu">
                    <ul class="ulDrop">
                        <li><a href="/activities_trips">Trips</a> </li>
                        <li><a href="/activities_pottery">Pottery</a> </li>
                        <li><a href="/activities_camps">Camps - Safari</a></li>
                    </ul>
                </div><!-- end drob con -->
            </li>

            <li class="active"><a href="/about">About </a>
                <div class="br"></div>

            </li>
            <li><a href="/contact-us">Contact us</a>
            </li>
        </ul>
    </div>
    <footer>

        <div class="about">
            <div class=" logo">
                <img class="notOpen" src="image/logo.jpeg" alt="">
                <p>Tunis village -قرية تونس</p>
            </div>

            <a href="https://maps.app.goo.gl/GZAUdGitusskMuH26"> <i class="fa fa-location-dot"></i> Egypt, Fayoum,
                Youssef Al-Siddiq Centre</a>
            <p>Tunis Village in Fayoum Oasis: Egypt's hidden paradise for pottery, horseback riding, and more!</p>
        </div>

        <div class="quickLinks">

            <h1>Quick Links</h1>
            <a href="/services_hotels">Hotels</a>
            <a href="/services_villas">Chalets-Villas</a>
            <a href="/services_cafes">Cafes</a>
            <a href="/activities_pottery">Pottery</a>
            <a href="/activities_camps">Camps</a>
            <a href="/activities_trips">Trips</a>
            <a href="/about">About</a>
            <a href="/contact-us">Contact us</a>
        </div>

        <div class="connect">
            <h1>Contacts</h1>
            <a target="_blank"
                href="https://mail.google.com/mail/u/0/?fs=1&to=tunis.village.fayuom@gmail.com&su=From Website&tf=cm "><i
                    class="fa-solid fa-envelope"></i> Email : tunis.village.fayuom@gmail.com</a>
            <a target="_blank" href=" https://wa.me/201001985481"><i class="fa-solid fa-mobile-screen"></i>
                01001985481</a>

        </div>

        <div class="icon">
            <h1>Follow us</h1>
            <ul>
                <li class="facebook"><a target="_blank"
                        href="https://www.facebook.com/TunisVillageOfficiel?mibextid=JRoKGi"><i
                            class="fab fa-facebook"></i></a></li>
                <li class="facebook"><a target="_blank" href="https://www.linkedin.com/in/tunis-village-9a479124b/"> <i
                            class="fab fa-linkedin-in "></i></a></li>
                <li class="x"><a target="_blank" href="https://x.com/village_tunis?t=5K-iCQf54eumjyImd3u1Og&s=09"><i
                            class="fa-brands fa-x-twitter"></i></a></i></li>
                <li class="whatsapp"><a target="_blank" href=" https://wa.me/201001985481"><i
                            class="fab fa-whatsapp"></i></a></li>
                <li class="instagram"> <a target="_blank"
                        href="https://www.instagram.com/tunis_village_in_fayoum_egypt?igsh=ZmY2Z2hjNGRycG5y"><i
                            class="fab fa-instagram "></i></a></li>
                <li class="map"><a target="_blank" href="https://maps.app.goo.gl/GZAUdGitusskMuH26"><i
                            class="fa fa-location-dot"></i></a></li>
                <li class="tiktok"><a target="_blank"
                        href="https://www.tiktok.com/@tunis_village0?_t=8kEcQAnlHvR&_r=1"><i
                            class="fa-brands fa-tiktok"></i></a></li>
                <li class="youtube"><a target="_blank" href="https://youtube.com/@tunis.village0?si=FjymaX9AQE8Pgbsa"><i
                            class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/vendors/owl.carousel.js"></script>
    <script src="js/demo.js"></script>
</body>

</html>