<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camps</title>
    <link rel="icon" href="image/logo.icon">

    <link rel="stylesheet" href="css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Lobster&family=Piedra&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Chilanka&family=Courgette&family=Lobster&family=Piedra&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/vendors/owl.carousel.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Headrer -->
    <section class="header" >
        <section class="nav">
            <div>
                <a class="logo " href="/"> <img class="notOpen" src="image/logo.jpeg" alt=""></a>
                <i class="fa-solid fa-bars menu"></i>

                <ul class="mainUlNav">
                    <li><a href="/">Home</a>
                    </li>
                    <li><button id="btnOfDropDownServices" href="">Services <i class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_services">
                            <ul class="ulDrop">
                                <li><a href="/services_hotels">Hotels</a></li>
                                <li><a href="/services_villas">Chalets - Villas</a></li>
                                <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>
                    <li class="active"><button id="btnOfDropDownActivities" href="">Activities <i
                                class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_activities">
                            <ul class="ulDrop">
                                <li><a href="/activities_trips">Trips</a> </li>

                                <li><a href="/activities_pottery">Pottery</a> </li>
                                <li class="active"><a href="/activities_camps">Camps - Safari</a>
                                    <div class="br"></div>
                                </li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>

                    <li><a href="/about">About </a>
                    </li>
                    <li><a href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end nav -->
        <div class="content">
            <h1 class="b">Camps</h1>
            <h1 class="a">in</h1>
            <h1 class="c">Tunis Village </h1>

        </div>
        <a href="/contact-us"><button class="btn">Contact us</button></a>
    </section>
    <!-- end header  -->

    <!-- start page -->
    <!--Safari -->

    <section class="Safari margin">
        <h2> Safari</h2>
        <p>
            There are many places that you can visit when you go to the village of Tunis, such as Lake Qarun, or some
            well-known reserves such as Wadi El-Rayan and Wadi El-Hitan </p>

        <div class="owl-carousel owl-carousel-safari ">
            <div class=" con_owl-carousel">
                <img src="image/safari/1.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/2.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/3.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/4.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/5.jpg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/6.jpeg" alt="">

            </div>


            <div class=" con_owl-carousel"> <img src="image/safari/7.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/8.jpg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/9.jpg" alt="">
            </div>
            <div class=" con_owl-carousel"> <img src="image/safari/10.jpg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/11.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/12.jpeg" alt="">

            </div>

            <div class=" con_owl-carousel"> <img src="image/safari/13.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/14.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/15.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel"> <img src="image/safari/16.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/17.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/18.jpeg" alt="">

            </div>

            <div class=" con_owl-carousel"> <img src="image/safari/19.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/20.jpeg" alt="">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/21.jpg" alt="">
            </div>
            <div class=" con_owl-carousel"> <img src="image/safari/22.jpeg">
            </div>
            <div class=" con_owl-carousel">
                <img src="image/safari/23.jpg" alt="">
            </div>
            

        </div>


    </section>
    <!--end  Safari -->

    <!--Camps -->

    <section class=" Safari margin">
        <h2> Camps</h2>
        <div class="camps">
            <div class="one-camp">
                <section class="owl-carousel owl-carousel-camps">
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/1.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/2.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/3.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/4.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/5.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/6.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/7.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/8.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/9.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/10.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/11.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/12.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/13.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/14.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/15.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/16.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/1/17.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps">
                        <img src="/image/camps/1/18.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps">
                        <img src="/image/camps/1/19.jpeg">
                    </div>
                    
                </section>
                <p>Camp in Wadi El Rayan </p>
            </div>
            <div class="one-camp">
                <section class="owl-carousel owl-carousel-camps">
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/2/1.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/2/2.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/2/3.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/2/4.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/3/1.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/3/2.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/3/3.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/3/4.jpeg">
                    </div>
                </section>
                <p>The Magic Lake </p>
            </div>
            <div class="one-camp">
                <section class="owl-carousel owl-carousel-camps">
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/4/1.jpeg">
                    </div>

                    <div class="con_owl-carousel-camps"> <img src="/image/camps/4/2.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/4/3.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/4/4.jpeg">
                    </div>
                    <div class="con_owl-carousel-camps"> <img src="/image/camps/4/5.jpeg">
                    </div>
                    
                </section>

                <p>Camp Qatarni </p>
            </div>
        </div>



    </section>
    <!--end  Camps -->
    <section class="pageOfImage">
        <i class="fas fa-window-close close1"></i>
        <img class="notOpen" src="" alt="">

    </section>
    <!-- end page -->
    <div class="blockNavBar">
        <i class="fas fa-window-close close1 close2"></i>
        <ul class="mainUlNav">
            <li ><a href="/">Home</a>
            </li>
            <li><button id="btnOfDropDownServicesMenu" href="">Services <i class="fas fa-caret-down"></i></button>
                <div class="drob_con" id="drob_con_services_menu">
                    <ul class="ulDrop">
                        <li><a href="/services_hotels">Hotels</a></li>
                        <li><a href="/services_villas">Chalets - Villas</a></li>
                        <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                    </ul>
                </div><!-- end drob con -->
            </li>
            <li class="active"><button id="btnOfDropDownActivitiesMenu" href="">Activities <i
                        class="fas fa-caret-down"></i></button>
                <div class="drob_con" id="drob_con_activities_menu">
                    <ul class="ulDrop">
                        <li><a href="/activities_trips">Trips</a> </li>
                        <li><a href="/activities_pottery">Pottery</a> </li>
                        <li class="active"><a href="/activities_camps">Camps - Safari</a>
                            <div class="br"></div>
                        </li>
                    </ul>
                </div><!-- end drob con -->
            </li>

            <li><a href="/about">About </a>
            </li>
            <li><a href="/contact-us">Contact us</a>
            </li>
        </ul>
    </div>
    <footer>

        <div class="about">
            <div class=" logo">
                <img class="notOpen" src="image/logo.jpeg" alt="">
                <p>Tunis village -قرية تونس</p>
            </div>

            <a href="https://maps.app.goo.gl/9wCheMvYDsz2tM6T6"> <i class="fa fa-location-dot"></i> Egypt, Fayoum,
                Youssef Al-Siddiq Centre</a>
            <p>Tunis Village in Fayoum Oasis: Egypt's hidden paradise for pottery, horseback riding, and more!</p>
        </div>

        <div class="quickLinks">

            <h1>Quick Links</h1>
            <a href="/services_hotels">Hotels</a>
            <a href="/services_villas">Chalets-Villas</a>
            <a href="/services_cafes">Cafes</a>
            <a href="/activities_pottery">Pottery</a>
            <a href="/activities_camps">Camps</a>
            <a href="/activities_trips">Trips</a>
            <a href="/about">About</a>
            <a href="/contact-us">Contact us</a>
        </div>

        <div class="connect">
            <h1>Contacts</h1>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=tunis.village.fayuom@gmail.com&su=From Website&tf=cm "><i
                    class="fa-solid fa-envelope"></i> Email : tunis.village.fayuom@gmail.com</a>
            <a target="_blank" href=" https://wa.me/201001985481"><i class="fa-solid fa-mobile-screen"></i>
                01001985481</a>

        </div>

        <div class="icon">
            <h1>Follow us</h1>
            <ul>
                <li class="facebook"><a target="_blank"
                        href="https://www.facebook.com/TunisVillageOfficiel?mibextid=JRoKGi"><i
                            class="fab fa-facebook"></i></a></li>
                <li class="facebook"><a target="_blank" href="https://www.linkedin.com/in/tunis-village-9a479124b/"> <i
                            class="fab fa-linkedin-in "></i></a></li>
                <li class="x"><a target="_blank" href="https://x.com/village_tunis?t=5K-iCQf54eumjyImd3u1Og&s=09"><i
                            class="fa-brands fa-x-twitter"></i></a></i></li>
                <li class="whatsapp"><a target="_blank" href=" https://wa.me/201001985481"><i
                            class="fab fa-whatsapp"></i></a></li>
                <li class="instagram"> <a target="_blank"
                        href="https://www.instagram.com/tunis_village_in_fayoum_egypt?igsh=ZmY2Z2hjNGRycG5y"><i
                            class="fab fa-instagram "></i></a></li>
                <li class="map"><a target="_blank" href="https://maps.app.goo.gl/9wCheMvYDsz2tM6T6"><i
                            class="fa fa-location-dot"></i></a></li>
                <li class="tiktok"><a target="_blank"
                        href="https://www.tiktok.com/@tunis_village0?_t=8kEcQAnlHvR&_r=1"><i
                            class="fa-brands fa-tiktok"></i></a></li>
                <li class="youtube"><a target="_blank" href="https://youtube.com/@tunis.village0?si=FjymaX9AQE8Pgbsa"><i
                            class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/vendors/owl.carousel.js"></script>
    <script src="js/demo.js"></script>
</body>

</html>