<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalets</title>
<link rel="icon" href="image/logo.icon">

    <link rel="stylesheet" href="css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Lobster&family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Courgette&family=Lobster&family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/vendors/owl.carousel.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 <!-- Headrer -->
 <section class="header">
    <section class="nav">
        <div >
            <a class="logo " href="/"> <img class="notOpen" src="image/logo.jpeg" alt=""></a>
            <i class="fa-solid fa-bars menu"></i>

            <ul class="mainUlNav">
                <li ><a href="/">Home</a>
                </li>
                <li class="active"><button id="btnOfDropDownServices" href="">Services <i class="fas fa-caret-down"></i></button>
                    <div class="drob_con" id="drob_con_services">
                        <ul class="ulDrop">
                            <li><a href="/services_hotels">Hotels</a></li>
                            <li class="active"><a href="/services_villas">Chalets - Villas</a><div class="br"></div></li>
                            <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                        </ul>
                    </div><!-- end drob con -->
                </li>
                <li><button id="btnOfDropDownActivities" href="">Activities <i
                            class="fas fa-caret-down"></i></button>
                    <div class="drob_con" id="drob_con_activities">
                        <ul class="ulDrop">
                           <li><a href="/activities_trips">Trips</a> </li>

                            <li><a href="/activities_pottery">Pottery</a> </li>
                            <li><a href="/activities_camps">Camps - Safari</a></li>
                        </ul>
                    </div><!-- end drob con -->
                </li>

                <li ><a href="/about">About </a>
                </li>
                <li><a href="/contact-us">Contact us</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- end nav -->
    <div class="content">
        <h1 class="b">Welcome</h1>
        <h1 class="a">to villas in</h1>
        <h1 class="c">Tunis Village </h1>

    </div>
    <a href="/contact-us"><button class="btn">Contact us</button></a>
</section>
<!-- end header  -->
<!-- start Chalet code(110)  -->
<section class="services margin">
    <h2>Chalet code(110) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_110/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/10.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/11.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/12.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/13.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/14.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_110/15.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(110)   -->
<!-- start Chalet code(111)  -->
<section class="services margin">
    <h2>Chalet code(111) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_111/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_111/10.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(111)   -->

<!-- start Chalet code(112)  -->
<section class="services margin">
    <h2>Chalet code(112) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_112/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_112/9.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(112)   -->
<!-- start Chalet code(113)  -->
<section class="services margin">
    <h2>Chalet code(113) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_113/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/10.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/11.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/12.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_113/13.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(113)   -->

<!-- start Chalet code(114)  -->
<section class="services margin">
    <h2>Chalet code(114) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_114/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_114/10.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(114)   -->

<!-- start Chalet code(115)  -->
<section class="services margin">
    <h2>Chalet code(115) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_115/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_115/10.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(115)   -->

<!-- start Chalet code(116)  -->
<section class="services margin">
    <h2>Chalet code(116) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_116/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/10.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_116/11.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(116)   -->

<!-- start Chalet code(117)  -->
<section class="services margin">
    <h2>Chalet code(117) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_117/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_117/10.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(117)   -->
<!-- start Chalet code(118)  -->
<section class="services margin">
    <h2>Chalet code(118) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_118/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_118/10.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(118)   -->

<!-- start Chalet code(119)  -->
<section class="services margin">
    <h2>Chalet code(119) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_119/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/10.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/11.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/12.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/13.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/14.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_119/15.jpeg" alt=""></div>
        
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(119)   -->

<!-- start Chalet code(120)  -->
<section class="services margin">
    <h2>Chalet code(120) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_120/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/10.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/11.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/12.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/13.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/14.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_120/15.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(120)   -->
<!-- start Chalet code(121)  -->
<section class="services margin">
    <h2>Chalet code(121) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_121/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_121/9.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(121)   -->

<!-- start Chalet code(122)  -->
<section class="services margin">
    <h2>Chalet code(122) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_122/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/10.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/11.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/12.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/13.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/14.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_122/15.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(122)   -->

<!-- start Chalet code(123)  -->
<section class="services margin">
    <h2>Chalet code(123) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_123/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/9.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_123/10.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(123)   -->

<!-- start Chalet code(124)  -->
<section class="services margin">
    <h2>Chalet code(124) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_124/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/10.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/11.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/12.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_124/13.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(124)   -->

<!-- start Chalet code(125)  -->
<section class="services margin">
    <h2>Chalet code(125) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_125/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_125/10.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(125)   -->
<!-- start Chalet code(126)  -->
<section class="services margin">
    <h2>Chalet code(126) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_126/1.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/2.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/3.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/4.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/5.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/6.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/7.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/8.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/9.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/10.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/11.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/12.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/13.jpg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_126/14.jpg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(126)   -->

<!-- start Chalet code(127)  -->
<section class="services margin">
    <h2>Chalet code(127) </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/code_127/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/code_127/9.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Chalet code(127)   -->







<!-- start Private Chalet  -->
<section class="services margin">
    <h2>Private Chalet </h2>
    <div class="owl-carousel p1">
        <div class="item-owl"><img src="/image/valla/private/1.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/2.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/3.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/4.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/5.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/6.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/7.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/8.jpeg" alt=""></div>
        <div class="item-owl"><img src="/image/valla/private/9.jpeg" alt=""></div>
    </div>

    <!-- end p2-->
    <a href="/contact-us"><button class="btn">Contact us</button></a>

</section>
<!-- end Private Chalet   -->
<!-- end valles -->
<section class="pageOfImage">
    <i class="fas fa-window-close close1"></i>
    <img class="notOpen" src="" alt="">
</section> 

<div class="blockNavBar">
    <i class="fas fa-window-close close1 close2"></i>
    <ul class="mainUlNav">
        <li ><a href="/">Home</a>
        </li>
        <li class="active"><button id="btnOfDropDownServicesMenu" href="">Services <i class="fas fa-caret-down"></i></button>
            <div class="drob_con" id="drob_con_services_menu">
                <ul class="ulDrop">
                    <li><a href="/services_hotels">Hotels</a></li>
                    <li class="active"><a href="/services_villas">Chalets - Villas</a>
                       <div class="br"></div>
                    </li>
                    <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                </ul>
            </div><!-- end drob con -->
        </li>
        <li><button id="btnOfDropDownActivitiesMenu" href="">Activities <i
                    class="fas fa-caret-down"></i></button>
            <div class="drob_con" id="drob_con_activities_menu">
                <ul class="ulDrop">
                    <li><a href="/activities_trips">Trips</a> </li>
                    <li><a href="/activities_pottery">Pottery</a> </li>
                    <li><a href="/activities_camps">Camps - Safari</a></li>
                </ul>
            </div><!-- end drob con -->
        </li>

        <li><a href="/about">About </a>
        </li>
        <li><a href="/contact-us">Contact us</a>
        </li>
    </ul>
</div>

<footer>

    <div class="about">
        <div class=" logo">
            <img class="notOpen" src="image/logo.jpeg" alt="">
            <p>Tunis village -قرية تونس</p>
        </div>

        <a href="https://maps.app.goo.gl/9wCheMvYDsz2tM6T6"> <i class="fa fa-location-dot"></i> Egypt, Fayoum,
            Youssef Al-Siddiq Centre</a>
        <p>Tunis Village in Fayoum Oasis: Egypt's hidden paradise for pottery, horseback riding, and more!</p>
    </div>

    <div class="quickLinks">

        <h1>Quick Links</h1>
        <a href="/services_hotels">Hotels</a>
        <a href="/services_villas">Chalets-Villas</a>
        <a href="/services_cafes">Cafes</a>
        <a href="/activities_pottery">Pottery</a>
        <a href="/activities_camps">Camps</a>
        <a href="/activities_trips">Trips</a>
        <a href="/about">About</a>
        <a href="/contact-us">Contact us</a>
    </div>

    <div class="connect">
        <h1>Contacts</h1>
        <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=tunis.village.fayuom@gmail.com&su=From Website&tf=cm "><i
                class="fa-solid fa-envelope"></i> Email : tunis.village.fayuom@gmail.com</a>
        <a target="_blank" href=" https://wa.me/201001985481"><i class="fa-solid fa-mobile-screen"></i>
            01001985481</a>

    </div>

    <div class="icon">
        <h1>Follow us</h1>
        <ul>
            <li class="facebook"><a target="_blank"
                    href="https://www.facebook.com/TunisVillageOfficiel?mibextid=JRoKGi"><i
                        class="fab fa-facebook"></i></a></li>
            <li class="facebook"><a target="_blank" href="https://www.linkedin.com/in/tunis-village-9a479124b/"> <i
                        class="fab fa-linkedin-in "></i></a></li>
            <li class="x"><a target="_blank" href="https://x.com/village_tunis?t=5K-iCQf54eumjyImd3u1Og&s=09"><i
                        class="fa-brands fa-x-twitter"></i></a></i></li>
            <li class="whatsapp"><a target="_blank" href=" https://wa.me/201001985481"><i
                        class="fab fa-whatsapp"></i></a></li>
            <li class="instagram"> <a target="_blank"
                    href="https://www.instagram.com/tunis_village_in_fayoum_egypt?igsh=ZmY2Z2hjNGRycG5y"><i
                        class="fab fa-instagram "></i></a></li>
            <li class="map"><a target="_blank" href="https://maps.app.goo.gl/9wCheMvYDsz2tM6T6"><i
                        class="fa fa-location-dot"></i></a></li>
            <li class="tiktok"><a target="_blank"
                    href="https://www.tiktok.com/@tunis_village0?_t=8kEcQAnlHvR&_r=1"><i
                        class="fa-brands fa-tiktok"></i></a></li>
            <li class="youtube"><a target="_blank" href="https://youtube.com/@tunis.village0?si=FjymaX9AQE8Pgbsa"><i
                        class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/vendors/owl.carousel.js"></script>
            <script src="js/demo.js"></script>
</body>
</html>