<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="icon" href="image/logo.icon">

<link rel="stylesheet" href="css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Piedra&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Lobster&family=Piedra&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Courgette&family=Lobster&family=Piedra&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Headrer -->
    <section class="header" >
        <section class="nav">
            <div >
                <a class="logo " href="/"> <img class="notOpen" src="image/logo.jpeg" alt=""></a>
                <i class="fa-solid fa-bars menu"></i>

                <ul class="mainUlNav">
                    <li ><a href="/">Home</a>
                        <div class="br"></div>
                    </li>
                    <li><button id="btnOfDropDownServices" href="">Services <i class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_services">
                            <ul class="ulDrop">
                                <li><a href="/services_hotels">Hotels</a></li>
                                <li><a href="/services_villas">Chalets - Villas</a></li>
                                <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>
                    <li><button id="btnOfDropDownActivities" href="">Activities <i
                                class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_activities">
                            <ul class="ulDrop">
                                <li><a href="/activities_trips">Trips</a> </li>

                                <li><a href="/activities_pottery">Pottery</a> </li>
                                <li><a href="/activities_camps">Camps - Safari</a></li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>

                    <li ><a href="/about">About </a>
                        
                    </li>
                    <li class="active"><a href="/contact-us">Contact us</a>
                        <div class="br"></div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end nav -->
        <div class="content">
            <h1 class="b">Welcome</h1>
            <h1 class="a">to </h1>
            <h1 class="c">Tunis Village </h1>
        </div>
    </section>
    <!-- end header  -->

 <!-- Opinion -->
<section  class="contact">
    <h2>Contact us</h2>
    <section class="contactSection">
        <div class="contact-us">
            <h1 class="H">
                Contact us to get more information
            </h1>
            <div class="connect">
                <h1>Contacts</h1>
                <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=tunis.village.fayuom@gmail.com&su=From Website&tf=cm "><i class="fa-solid fa-envelope"></i> Email : tunis.village.fayuom@gmail.com</a>
                <a target="_blank" href="https://wa.me/201001985481"><i class="fa-solid fa-mobile-screen"></i> 01001985481</a>
                <div class="icon">
                    <ul>
                        <li class="facebook"><a target="_blank"  href="https://www.facebook.com/TunisVillageOfficiel?mibextid=JRoKGi"><i class="fab fa-facebook"></i></a></li>
                      
                       <li class="x"><a target="_blank"  href="https://x.com/village_tunis?t=5K-iCQf54eumjyImd3u1Og&s=09"><i class="fa-brands fa-x-twitter"></i></a></i></li>
                       <li class="whatsapp"><a target="_blank"  href="https://wa.me/201001985481"><i class="fab fa-whatsapp"></i></a></li> 
                       <li class="instagram"> <a target="_blank"  href="https://www.instagram.com/tunis_village_in_fayoum_egypt?igsh=ZmY2Z2hjNGRycG5y"><i class="fab fa-instagram "></i></a></li>
                       
                       <li class="tiktok"><a target="_blank"  href="https://www.tiktok.com/@tunis_village0?_t=8kEcQAnlHvR&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                      
                    </ul>
                </div>

                <h1>Location</h1>
            <a href="https://maps.app.goo.gl/GZAUdGitusskMuH26"> <i class="fa fa-location-dot"></i> Egypt, Fayoum, Youssef Al-Siddiq Centre</a>

            </div>
        </div>
        <div class=" cform">
            <form action="/" method="POST">
                <label for="First">Name</label>
                        <input  required type="text" placeholder="your Name" name="name" id="First">
                <label for="Email">Email</label>
                <input required type="email" placeholder="Email" name="Email" id="Email">
                <label for="Message"> Message</label>
                <textarea  required placeholder=" Enter your Message" name="Message" id="Message" rows="5"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>

        
    </section>
    
</section>

<div class="blockNavBar">
    <i class="fas fa-window-close close1 close2"></i>
    <ul class="mainUlNav">
        <li ><a href="/">Home</a>
            
        </li>
        <li><button id="btnOfDropDownServicesMenu" href="">Services <i class="fas fa-caret-down"></i></button>
            <div class="drob_con" id="drob_con_services_menu">
                <ul class="ulDrop">
                    <li><a href="/services_hotels">Hotels</a></li>
                    <li><a href="/services_villas">Chalets - Villas</a></li>
                    <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                </ul>
            </div><!-- end drob con -->
        </li>
        <li><button id="btnOfDropDownActivitiesMenu" href="">Activities <i
                    class="fas fa-caret-down"></i></button>
            <div class="drob_con" id="drob_con_activities_menu">
                <ul class="ulDrop">
                    <li><a href="/activities_trips">Trips</a> </li>
                    <li><a href="/activities_pottery">Pottery</a> </li>
                    <li><a href="/activities_camps">Camps - Safari</a></li>
                </ul>
            </div><!-- end drob con -->
        </li>

        <li><a href="/about">About </a>
        </li>
        <li class="active"><a href="/contact-us">Contact us</a>
            <div class="br"></div>
        </li>
    </ul>
</div>
<footer>

    <div class="about">
        <div class=" logo">
            <img class="notOpen" src="image/logo.jpeg" alt="">
            <p>Tunis village -قرية تونس</p>
        </div>

        <a href="https://maps.app.goo.gl/GZAUdGitusskMuH26"> <i class="fa fa-location-dot"></i> Egypt, Fayoum,
            Youssef Al-Siddiq Centre</a>
        <p>Tunis Village in Fayoum Oasis: Egypt's hidden paradise for pottery, horseback riding, and more!</p>
    </div>

    <div class="quickLinks">

        <h1>Quick Links</h1>
        <a href="/services_hotels">Hotels</a>
        <a href="/services_villas">Chalets-Villas</a>
        <a href="/services_cafes">Cafes</a>
        <a href="/activities_pottery">Pottery</a>
        <a href="/activities_camps">Camps</a>
        <a href="/activities_trips">Trips</a>
        <a href="/about">About</a>
        <a href="/contact-us">Contact us</a>
    </div>

    <div class="connect">
        <h1>Contacts</h1>
        <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=tunis.village.fayuom@gmail.com&su=From Website&tf=cm "><i
                class="fa-solid fa-envelope"></i> Email : tunis.village.fayuom@gmail.com</a>
        <a target="_blank" href=" https://wa.me/201001985481"><i class="fa-solid fa-mobile-screen"></i>
            01001985481</a>

    </div>

    <div class="icon">
        <h1>Follow us</h1>
        <ul>
            <li class="facebook"><a target="_blank"
                    href="https://www.facebook.com/TunisVillageOfficiel?mibextid=JRoKGi"><i
                        class="fab fa-facebook"></i></a></li>
            <li class="facebook"><a target="_blank" href="https://www.linkedin.com/in/tunis-village-9a479124b/"> <i
                        class="fab fa-linkedin-in "></i></a></li>
            <li class="x"><a target="_blank" href="https://x.com/village_tunis?t=5K-iCQf54eumjyImd3u1Og&s=09"><i
                        class="fa-brands fa-x-twitter"></i></a></i></li>
            <li class="whatsapp"><a target="_blank" href=" https://wa.me/201001985481"><i
                        class="fab fa-whatsapp"></i></a></li>
            <li class="instagram"> <a target="_blank"
                    href="https://www.instagram.com/tunis_village_in_fayoum_egypt?igsh=ZmY2Z2hjNGRycG5y"><i
                        class="fab fa-instagram "></i></a></li>
            <li class="map"><a target="_blank" href="https://maps.app.goo.gl/GZAUdGitusskMuH26"><i
                        class="fa fa-location-dot"></i></a></li>
            <li class="tiktok"><a target="_blank"
                    href="https://www.tiktok.com/@tunis_village0?_t=8kEcQAnlHvR&_r=1"><i
                        class="fa-brands fa-tiktok"></i></a></li>
            <li class="youtube"><a target="_blank" href="https://youtube.com/@tunis.village0?si=FjymaX9AQE8Pgbsa"><i
                        class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>
    
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/demo.js"></script>
</body>

</html>