<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tunis village chalet,tunis village el fayoum,tunis village fayoum hotel,tunis,village fayoum,tunis village fayoum restaurant,fayoum hotel
    tunis village egypt,fayoum egypt,tunis village fayoum hotels,fayoum trip,tunis village faiyum,tunis village pottery,tunis village fayoum activities,tunis village hotels,tunis village,fayoum oasis ,قرية تونس السياحية بالفيوم,قرية تونس السياحية,قرية تونس الفيوم مصر,قرية تونس فيو,قرية تونس الفيوم,قرية تونس هاوس الفيوم,قرية تونس هاوس بالفيوم,قرية تونس,قرية تونس pdf,قرية تونس سيتي,تونس الفيوم
,قرية تونس بيراميدز,قرية تونس في مصر,قرية تونس هاوس,فنادق قرية تونس ,فنادق قرية تونس بالفيوم" />
    <meta name="description"
        content="قرية تونس تقع في مصر وهي إحدى قرى مركز يوسف الصديق بمحافظة الفيوم.قرية تونس جميلة الطبيعة، تقع على رأس الأرض. ويوجد أسفلها أرض زراعية خضراء جميلة، ثم بحيرة قارون، وشمال البحيرة سلاسل جبلية
        Tunis village is beautiful in nature, situated on top of the land 🏕. Underneath it are beautiful green farmland,then Lake Qarun.">
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Mariam Mohamed Elhadad 👩‍💻" />
    <meta name="revised" content="Monday, April 20th, 2024, 10:00 am" />
    <title>Tunis Village in Fayoum Egypt - قرية تونس السياحية بالفيوم مصر</title>
    <link rel="icon" href="image/logo.icon">
    <link rel="stylesheet" href="css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Lobster&family=Piedra&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Chilanka&family=Courgette&family=Lobster&family=Piedra&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <!-- Headrer -->
    <section class="header">
        <section class="nav">
            <div>
                <a class="logo" href="/"> <img class="notOpen" src="image/logo.jpeg" alt=""></a>
                <ul class="mainUlNav">
                    <li class="active"><a href="/">Home</a>
                        <div class="br"></div>
                    </li>
                    <li><button id="btnOfDropDownServices" href="">Services <i class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_services">
                            <ul class="ulDrop">
                                <li><a href="/services_hotels">Hotels</a></li>
                                <li><a href="/services_villas">Chalets - Villas</a></li>
                                <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                            </ul>
                        </div><!-- end drob con -->
                    </li>

                    <li><button id="btnOfDropDownActivities" href="">Activities <i
                                class="fas fa-caret-down"></i></button>
                        <div class="drob_con" id="drob_con_activities">
                            <ul class="ulDrop">
                                <li><a href="/activities_trips">Trips</a> </li>
                                <li><a href="/activities_pottery">Pottery</a> </li>
                                <li><a href="/activities_camps">Camps - Safari</a></li>
                            </ul>
                        </div>
                        <!-- end drob con -->
                    </li>

                    <li><a href="/about">About </a>
                    </li>
                    <li><a href="/contact-us">Contact us</a>
                    </li>
                </ul>

                <i class="fa-solid fa-bars menu"></i>
            </div>


        </section>
        <!-- end nav -->
        <div class="content">
            <h1 class="b">Welcome</h1>
            <h1 class="a">to </h1>
            <h1 class="c">Tunis Village </h1>

        </div>
        <a href="/contact-us"><button class="btn">Contact us</button></a>

    </section>
    <!-- end header  -->


    <!--options -->
    <section class="option margin">
        <h2> Things To Do</h2>
        <div class="options">
            <div>
                <a href="/services_cafes">
                    <img class="notOpen" src="/image/eat.png">
                    <p>EAT</p>
                </a>

            </div>
            <div>
                <a href="/activities_trips">
                    <img class="notOpen" src="/image/dayUse.png">
                    <p style="color: transparent;">DAY USE</p>
                </a>
            </div>
            <div>
                <a href="/services_villas">
                    <img class="notOpen" src="/image/stay.jpg">
                    <p>STAY</p>
                </a>
            </div>


            <div>
                <a href="/activities_pottery">
                    <img class="notOpen" src="/image/pottery.jpg">
                    <p style="color: transparent;">POTTERY</p>
                </a>
            </div>


            <div>
                <a href="/activities_camps">
                    <img class="notOpen" src="/image/camp.jpg">
                    <p>CAMP</p>
                </a>
            </div>
        </div>

    </section>
    <!--end  option -->
    <!-- start about -->
    <section class="aboutSection margin">
        <h1>
            <p style="font-weight: bold;font-family: 'Courgette', cursive;text-decoration: underline; font-size: 22px;">
                Why you should go to Tunis Village?</p><br><br>
            <p style="color: rgb(50, 41, 102);;">
                Tourist attractions like this are rarely found, in Egypt . Here are five reasons why you should visit
                Tunis Village with family ,friends, best friend
            </p>
            <p>
                <i class="far fa-check-circle"></i>
                Various Activities with Family
            </p>
            <p>
                <i class="far fa-check-circle"></i>

                Natural Beauty of the Village
            </p>
            <p> <i class="far fa-check-circle"></i>
                The Best Holiday Experience with Family
            </p>
            <p>
                <i class="far fa-check-circle"></i>

                Many delicious Egyptian food from everywhere in Egypt
            </p>

            <p>
                <i class="far fa-check-circle"></i>

                Flexibility of Visit Times (Morning, Afternoon, Evening)
            </p>
        </h1>
        <div class="divBackgroundImage"> </div>

    </section> <!-- end about section  -->

    <!-- start map -->
    <section class="maps margin">
        <h2 class="themap">The Location </h2>
        <section class="map">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3475.8820993245495!2d30.492705500000003!3d29.4030049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14595dcf26d3dc8f%3A0x987742ebda4028df!2z2YLYsdmK2Kkg2KrZiNmG2LMgLSDZhdit2KfZgdi42Kkg2KfZhNmB2YrZiNmF!5e0!3m2!1sar!2seg!4v1712303103170!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <section class="p">
                <p class="p1">The village Tunis is located in Egypt and is one of the villages of Youssef Al-Siddiq
                    Centre in Fayoum
                    governorate.</p>

                <p class="p2">The village of Tunisia is beautiful in nature, situated on top of the land. Underneath it
                    are
                    beautiful green farmland, then Lake Qarun, and north of the lake are mountain ranges.</p>
                <a href="/connect"><button class="btn">Connect us</button></a>
            </section>




        </section>


    </section> <!-- end map  -->

    <!-- 
    <section id="Chalets" class="Hotels margin">
        <h2 > Chalets</h2>
    
                <div class="p1">
                   <div><a href="Chalets.html #Elrboa"><img src="image/valla/1.jpg"  alt=""></a> <p> Elrboa </p> 
                </div> 
                <div >
                    <a href="Chalets.html #koko"><img src="image/شليهات/2.jpg"  alt=""></a>
                    
                    <p> KOKO </p>
                 </div>
                <div>
                    <a href="hotels.html #lazib"> <img src="image/شليهات/1.jpg"  alt=""></a>
                    <p> lazib </p>
                 </div>   

                 </div>
    </section>-->
    <!--end  Chalets -->

    <div class="blockNavBar">
        <i class="fas fa-window-close close1 close2"></i>
        <ul class="mainUlNav">
            <li class="active"><a href="/">Home</a>
                <div class="br"></div>
            </li>
            <li><button id="btnOfDropDownServicesMenu" href="">Services <i class="fas fa-caret-down"></i></button>
                <div class="drob_con" id="drob_con_services_menu">
                    <ul class="ulDrop">
                        <li><a href="/services_hotels">Hotels</a></li>
                        <li><a href="/services_villas">Chalets - Villas</a></li>
                        <li><a href="/services_cafes">Restaurants - Cafes</a></li>
                    </ul>
                </div><!-- end drob con -->
            </li>
            <li><button id="btnOfDropDownActivitiesMenu" href="">Activities <i class="fas fa-caret-down"></i></button>
                <div class="drob_con" id="drob_con_activities_menu">
                    <ul class="ulDrop">
                        <li><a href="/activities_trips">Trips</a> </li>
                        <li><a href="/activities_pottery">Pottery</a> </li>
                        <li><a href="/activities_camps">Camps - Safari</a></li>
                    </ul>
                </div><!-- end drob con -->
            </li>

            <li><a href="/about">About </a>
            </li>
            <li><a href="/contact-us">Contact us</a>
            </li>
        </ul>
    </div>

    <footer>

        <div class="about">
            <div class=" logo">
                <img class="notOpen" src="image/logo.jpeg" alt="">
                <p>Tunis village -قرية تونس</p>
            </div>

            <a href="https://maps.app.goo.gl/GZAUdGitusskMuH26"> <i class="fa fa-location-dot"></i> Egypt, Fayoum,
                Youssef Al-Siddiq Centre</a>
            <p>Tunis Village in Fayoum Oasis: Egypt's hidden paradise for pottery, horseback riding, and more!</p>
        </div>

        <div class="quickLinks">

            <h1>Quick Links</h1>
            <a href="/services_hotels">Hotels</a>
            <a href="/services_villas">Chalets-Villas</a>
            <a href="/services_cafes">Cafes</a>
            <a href="/activities_pottery">Pottery</a>
            <a href="/activities_camps">Camps</a>
            <a href="/activities_trips">Trips</a>
            <a href="/about">About</a>
            <a href="/contact-us">Contact us</a>
        </div>

        <div class="connect">
            <h1>Contacts</h1>
            <a target="_blank"
                href="https://mail.google.com/mail/u/0/?fs=1&to=tunis.village.fayuom@gmail.com&su=From Website&tf=cm "><i
                    class="fa-solid fa-envelope"></i> Email : tunis.village.fayuom@gmail.com</a>
            <a target="_blank" href=" https://wa.me/201001985481"><i class="fa-solid fa-mobile-screen"></i>
                01001985481</a>

        </div>

        <div class="icon">
            <h1>Follow us</h1>
            <ul>
                <li class="facebook"><a target="_blank"
                        href="https://www.facebook.com/TunisVillageOfficiel?mibextid=JRoKGi"><i
                            class="fab fa-facebook"></i></a></li>
                <li class="facebook"><a target="_blank" href="https://www.linkedin.com/in/tunis-village-9a479124b/"> <i
                            class="fab fa-linkedin-in "></i></a></li>
                <li class="x"><a target="_blank" href="https://x.com/village_tunis?t=5K-iCQf54eumjyImd3u1Og&s=09"><i
                            class="fa-brands fa-x-twitter"></i></a></i></li>
                <li class="whatsapp"><a target="_blank" href=" https://wa.me/201001985481"><i
                            class="fab fa-whatsapp"></i></a></li>
                <li class="instagram"> <a target="_blank"
                        href="https://www.instagram.com/tunis_village_in_fayoum_egypt?igsh=ZmY2Z2hjNGRycG5y"><i
                            class="fab fa-instagram "></i></a></li>
                <li class="map"><a target="_blank" href="https://maps.app.goo.gl/GZAUdGitusskMuH26"><i
                            class="fa fa-location-dot"></i></a></li>
                <li class="tiktok"><a target="_blank"
                        href="https://www.tiktok.com/@tunis_village0?_t=8kEcQAnlHvR&_r=1"><i
                            class="fa-brands fa-tiktok"></i></a></li>
                <li class="youtube"><a target="_blank" href="https://youtube.com/@tunis.village0?si=FjymaX9AQE8Pgbsa"><i
                            class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </footer>

    <section class="pageOfImage">
        <i class="fas fa-window-close close1"></i>
        <img src="" alt="">
    </section>


    <script src="/js/jquery-3.5.1.min.js"></script>

    <script src="js/demo.js"></script>
</body>

</html>